---
interface Props {
  href?: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

{
  href ? (
    <a class:list={['card', className]} href={href}>
      <slot />
    </a>
  ) : (
    <div class:list={['card', className]}>
      <slot />
    </div>
  )
}
